.item-list {
    margin: 1rem 0;
    border: 1px solid #444;

}

.item-list .list-group-item {
    cursor: pointer;
}

.item-list .list-group-item:hover {
    background-color: #d9cc0f;
    color: black;
}